#footer {
  background-color: var(--color-primary);

  a {
    transition: all 0.4s ease;

    &:hover {
      color: var(--color-secondary);
    }
  }

  .dropdown-info {
    grid-column: 1 / -1;
    margin-bottom: 14px;
    @media (max-width: 991px) {
      margin-bottom: 0;
    }
    .dropdown-btn {
      gap: 10px;
      cursor: pointer;
      width: fit-content;
    }

    .dropdown-content {
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease;
    }
  }

  .footer {
    &-contact {
      padding-bottom: 24px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        justify-content: unset;
      }
      .cta-desktop {
        &:hover {
          a {
            color: var(--color-secondary) !important;
          }
          .icon {
            svg {
              path {
                fill: var(--color-secondary);
              }
            }
          }
        }
        .icon {
          svg {
            path {
              transition: all 0.3s ease;
            }
          }
        }
      }
      ul {
        display: flex;
        gap: 70px;
        @media (max-width: 991px) {
          flex-direction: column;
          gap: 24px;
        }
        li {
          gap: 10px;
          @media (max-width: 991px) {
            gap: 20px;
          }
          .icon {
            margin-right: 8px;
          }

          a {
            color: var(--color-white) !important;
            transition: all 0.3s ease;
          }
        }
      }

      .social {
        gap: 15px;

        a {
          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }

    &-main {
      padding: 40px;
      @media (max-width: 991px) {
        padding: 24px 20px;
      }
    }

    &-top {
      padding: 24px 0;
      border-top: 1px solid rgba($color: #fff, $alpha: 0.65);
      @media (max-width: 991px) {
        padding: 20px 0;
      }
      ul {
        gap: 24px;
        @media (max-width: 991px) {
          flex-wrap: wrap;
          gap: 24px 40px;
        }

        a {
          font-weight: bold;
        }
      }
    }

    &-bottom {
      padding: 20px 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      background-color: #06261c;
      @media (max-width: 991px) {
        padding: 32px 20px;
        gap: 24px;
      }
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 24px;
      }
    }

    &-copyright {
      gap: 24px;
      grid-column: 1;
    }

    &-alpha {
      grid-column: 2;
      width: max-content;
      margin-left: auto;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }

    &-menu {
      border-top: 1px solid rgba($color: #fff, $alpha: 0.65);
      padding-top: 24px;

      .menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media (max-width: 991px) {
          grid-template-columns: repeat(3, 1fr);
          gap: 32px 40px;
        }
        @media (max-width: 767px) {
          grid-template-columns: repeat(2, 1fr);
        }
        & > li {
          & > a {
            margin-bottom: 12px;
            font-weight: bold;
            color: var(--color-white) !important;
          }
        }

        ul {
          li:not(:last-child) {
            margin-bottom: 6px;
          }
        }

        a {
          color: var(--color-white);

          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }
  }
}
