.hero {
  width: 100%;
  height: 585px;
  position: relative;
  @media (max-width: 991px) {
    height: 100svh;
  }
  &-swiper {
    height: 100%;
    width: 100%;
    .swiper-slide {
      overflow: hidden;
    }
    .swiper-pagination {
      top: auto;
      bottom: 24px;
      left: auto;
      right: 40px;
      width: max-content;
      display: flex;
      align-items: flex-end;
      transition: none;
      @media (max-width: 991px) {
        left: 24px;
      }
      &-bullet {
        width: 48px;
        height: 3px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.4);
        opacity: 1;
        position: relative;

        transition: height 0.3s ease;

        &.viewed {
          opacity: 1;
          background-color: rgba(255, 255, 255, 1);

          .progress-bar-swiper {
            background: var(--color-white);
            width: 100%;
          }
        }
      }
      .swiper-pagination-bullet-active {
      }
      .progress-bar-swiper {
        background: var(--color-white);
        width: 0;
        height: 3px;
        display: block;
        border-radius: 2px;
      }
    }
  }
  &-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    position: absolute;
    left: 40px;
    bottom: 64px;
    z-index: 2;
    max-width: 80%;
    @media (max-width: 991px) {
      left: 20px;
      bottom: 64px;
    }
    .btn-group {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 991px) {
        gap: 16px;
      }
    }
  }
  &-sub {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-white);
    font-weight: bold;
    @media (max-width: 991px) {
      margin-bottom: 12px;
    }
  }
  &-title {
    font-size: 64px;
    line-height: 72px;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 60px;
    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 54px;
      max-width: 270px;
      margin-bottom: 40px;
    }
  }
}
