.skoda-car {
  &.active-svg {
    svg {
      path {
        animation: textAnimation 1.5s ease 1 forwards;
      }
    }
  }
}
.skoda-title {
  width: calc(10 / 12 * 100%);
  padding: 0 40px;
  margin: 0 auto;
  svg {
    path {
      fill: transparent;
      stroke: var(--color-primary);
      stroke-width: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
    }
  }
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 1000;
  }
  70% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--color-primary);
  }
}
